:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;

}

*{
  box-sizing: border-box;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  color: rgb(255,255,255);
  background-color: #2A3D45;
  overflow: hidden;
}
@media screen and (max-width: 450px){
  body{
    margin: 0 auto;
  }
}
